<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Verification</title>
</head>

<h2>Verification</h2>

<body>
    <p>Please enter a strong password to proceed to the quiz.</p>
    <p>Password should meet the following criteria:</p>
    <ul>
        <li>Upper case letter</li>
        <li>Lower case letter</li>
        <li>At least one number</li>
        <li>At least one special character</li>
        <li>Minimum of 8 characters</li>
    </ul>

    <!-- Form to submit password -->
    <form action="/verify" method="post">
        <label for="fpass">Password:</label><br>
        <input type="text" id="fpass" name="password" required><br>

        <input type="submit" value="Submit">
    </form>

    <!-- Error message if password is invalid -->
    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>

</body>

</html>
